*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.my-container{
background: linear-gradient(90deg,rgb(224, 189, 189),rgb(173, 173, 231),rgb(232, 232, 199));
height:100vh;
width:100vw;
}

#input{
  flex:1;
   border:none;
   outline: none;
}
button {
  color: white;
  background-color: rgb(95, 55, 198);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}
.reset{
height: 30px;
width: 30px;
}
.reset {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.6s ease;
}
.rotate {
  transform: rotate(360deg);
}
@media (max-width: 576px) {
  .input_feild {
    flex-direction: column;
    gap: 10px;
  }
  #input {
    width: 100%;
  }
  button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }
}
.logo img {
  width: 60px;
  height: 60px;
}

@media (max-width: 576px) {
  .logo img {
    width: 40px;
    height: 40px;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .my-container {
    padding: 2rem;
  }
}
@media (max-width: 576px) {
  .input_feild {
    flex-direction: column;
    gap: 10px;
  }
  #input {
    width: 100%;
  }
  button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }
  .logo img {
    width: 40px;
    height: 40px;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
  .my-container {
    padding: 1rem;
  }
}

